body {
	background-color: #900C3F;
}

.content {
	width: 50%;
	margin: 5% auto;
	padding: 1% 3% 2% 3%;
	background-color: #C70039;
	border: 3px solid #FFC300;
	border-radius: 10px;
	color: #2F2C2C;
}

.content h1 {
	color: #581845;
}

.content p {
	font-weight: bold;
}